@model IEnumerable<OfficeRoomie.Models.Sala>

@{
    ViewData["Title"] = "Salas";
}

<div class="d-flex justify-content-between align-items-center gap-4 mb-4">
    <h1>Salas</h1>
    <a class="btn btn-primary" asp-action="Create">Nova Sala</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th width="25%">
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th width="25%">
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th width="25%">
                @Html.DisplayNameFor(model => model.capacidade)
            </th>
            <th width="25%">
                @Html.DisplayNameFor(model => model.categoria)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.id">
                    <span class="iconify" data-icon="ic:baseline-edit" data-inline="false"></span>
                </a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.id">
                    <span class="iconify" data-icon="ic:baseline-visibility" data-inline="false"></span>
                </a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">
                    <span class="iconify" data-icon="ic:baseline-delete" data-inline="false"></span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
